color_a = rgb(141, 24, 26)
color_b = rgb(247, 147, 30)
color_c = rgb(249, 181, 19)
color_bl2 = lighten(color_b, 20)
color_bl1 = lighten(color_b, 10)
d_color_b = darken(color_b, 20)
alpha = .7

color_aa = rgba(color_a, alpha)

imagenFondo = "bg"
logo = "logo_i"