@import('sourcesans')
@import('typicons')

cliente = 'edyficar'

@import(cliente)




body
	background-image: url("../img/" + imagenFondo + ".jpg")
	background-size: 100% 100%
	background-repeat: no-repeat
	background-attachment: fixed
	font-family: source_sans_prolight
	font-size: 16px
	padding:0
	max-height:100%
	height:700px

.contenedor
	max-width: 300px
	margin:  0 auto 20px
	height: 100%
	position: relative

#cabeza
	max-width:auto
	width:auto
	height: 180px
	background: color_aa
	border-bottom: color_b 2px solid
	padding: 10px

#logo
	text-indent: -1000
	background-image: url("../img/" + logo + ".png")
	background-repeat: no-repeat
	background-position-x: 50%
	background-position-y: 100%
	height:160px

#titulo
	text-align: center
	padding: 10px auto
	font-family: source_sans_proregular
	color: white

#login

	height:auto

	input, button
		position: relative
		
		font-size: 1.5em
		line-height: 1.5em
		height:auto
	input
		width:284px
		font-family: source_sans_prolight
		text-align: left
		text-indent: 30px
	p
		display: inline-block
		line-height:0
		font-size: 1.5em
		color:gray
		position: relative
		top:-45px
		left:5px
		z-index: 200



button
	color:white
	background: color_b
	font-family: source_sans_proregular
	border-top: color_bl2 solid 2px
	border-bottom: d_color_b solid 2px
	border-left: none
	border-right: none
	text-align: center

button:hover
	background: color_bl1

button[type="submit"]
	width:300px
	margin: 0

footer
	background: rgba(white,.1)
	height:180px
	max-width: 300px
	margin: 10px auto 0
	border-top:white solid thin
	color:white
	position: absolute
	bottom:0
	a
		text-decoration: underline
		padding:0 5px
		display: inline-block
		height: 30px
		font-size: .8em
		line-height: 30px
		color:white
		font-family: source_sans_prolight
	a:hover
			font-family: source_sans_proregular
	a:visited
			color:white
	.infoText
		text-align: center
		font-size:.8em
		margin: 5px

.icono 
	width: 30px
	height: 30px
	background: color_aa
	font-size: .5em
	float: left
	line-height:40px
	text-align: center
	p
		

