color_a = rgb(0, 115, 66)
color_b = rgb(247, 147, 30)
color_c = rgb(249, 181, 19)
color_bl2 = lighten(color_b, 20)
color_bl1 = lighten(color_b, 10)
color_bd2 = darken(color_b, 20)
alpha = .8

color_aa = rgba(color_a, alpha)

imagenFondo = "bg_e_l"
imagenPatron = "bg_20p"
logo = "logo_e"

repeticion = repeat, no-repeat

tamano = auto, 100% 100%