*
  padding: 0
  margin: 0
  outline: 0

html
  font-size: 14px
  font-family: source_sans_proregular, Arial, Helvetica, sans-serif
  height: 100%
  padding: 0
  margin: 0

div, header, article, section, aside, footer
  display: block
  padding: 0
  background: #ddd

h2
  font-family: source_sans_prolight,Arial, Helvetica, sans-serif
  font-size: 4em
  color: rgba(215, 177, 172, 1)
  margin: 10px 10px 10px 20px
  text-align: center

p
  margin: 0
  padding: 0

body
  min-height: 100%
  height: auto
  outline: 1px solid #900

#contenedor
  width: 960px
  margin: 0 auto
  padding: 0
  height: 100%
  min-height: 100%
  display: block

header
  position: relative
  padding: 0
  margin: 0
  box-shadow: 0 2px 0 0 rgba(0, 0, 0, .3)
  z-index: 10000
  margin-bottom: 10px

#logo
  background-repeat: no-repeat
  width: 200px
  height: 100px
  background-color: #fff
  float: left

nav
  float: left

#menu ul
  list-style: none
  padding: 0px

#menu li
  background: rgba(0,0,0,0.5)
  color: #fff
  display: inline-block
  height: 90px
  padding: 10px 0 0
  text-align: center
  width: 150px
  margin-right: -4px

#menu li:hover
  background: rgba(126, 44, 44, 0.9)

menu li:first-child .submenu
  display: inline-block

#menu p
  padding: 0
  margin: 0

.submenu
  display: none
  position: relative
  top: 100px
  left: 0

.submenu li
  display: none

section
  width: auto
  background: #ddd
  padding: 20px 5px

article
  -webkit-box-shadow: 0 2px 2px 0 rgba(0, 0, 0, .3)
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, .3)
  border-radius: 0 0 2px 2px
  height: 350px
  overflow: auto

article p
  margin: 20px

.mitad
  width: 48%

.derecha
  float: right

.izquierda
  float: left

.clear
  clear: both


