.elementos
	margin 0
	padding 0 15px 40px
	background rgba(white, alpha)
	min-height 400px
	position relative
.form_tabla
		background rgba(black, .5)
		h3
			color white

label
	line-height 1.5em
	padding-top 5px
	float none
	[class*="span"]
		float none

fieldset
	// background rgba(color_a, .3)
	border-top color_a 1px solid
	.columna_l,.columna_r,.columna_m
		border none
legend
	// background rgba(color_b, .3)
	width auto
	margin 0 auto
	padding 5px
	font-family source_sans_proregular
	text-align center
	color black


input, select
	margin 0 
	padding 0 
	font-size 1em 
	outline none 
	height 30px
	line-height @height

select
	overflow hidden
	position relative
	cursor pointer

.grupo_pruebas
	border-top color_a solid 2px
	
	background rgba(white, alpha)
	overflow: hidden
	width 800px
	margin 0 auto
	.prueba
		padding 7px 5px 5px 25px
		margin-left 20px
		width 350px
		float: left
		input[type='checkbox']
			height 20px
			margin-left -20px
			margin-bottom 0
			text-align right
			float: left

form
	h3
		font-size 1.2em
		font-family source_sans_proregular
		margin 0
		padding 0
		text-align center
		color color_a

	label 
		text-align right
		color white
		font-size 1em
		margin 0 10px
		font-family source_sans_proregular
	p
		display inline-block
		// esto es adicional
		color white
	input, select
		font-family source_sans_proregular
		font-size 1em
		text-align left
		width:284px
		background white
		border 1px lightgray solid
		border-radius 3px
		margin 0 10px
	select
		padding 0 5px
		box-shadow inset 0 -2px 2px rgba(black, .2)
		background white url('../img/th-menu.png') no-repeat 100% center

	input:focus, select:focus
		outline color_c solid 1px
		border color_c solid 1px
.newform
	label
		color black
	h3
		border-bottom rgba(color_a, .3) 1px solid

.row
	padding 0
	margin 5px auto

.columna_l, .columna_r, .columna_m
	border-top color_b 1px solid
	
.columna_l,.columna_r
	padding 10px 0
	float left

.columna_l
	width 480px

.columna_r
	width 447px
	
.columna_m
	margin-top 15px
	margin-bottom 15px
	text-align center

// barra progreso

.progressbar
	height 20px
	background: rgba(black, alpha)
	border: 0
	position: relative
	border-top 1px white solid
	.ui-widget-header
		background: color_b
	.progress-label
		position absolute
		z-index 9000
		top 0
		right 3px
		color: white
		line-height: @height
		text-align: center
		font-family: source_sans_prolight
		font-size .8em

button
	background color_b
	border-bottom color_bd2 solid 2px
	border-left none
	border-right none
	overflow hidden
	// border-top color_bl2 solid 2px
	border-top none
	color:white
	font-family source_sans_proregular
	height 30px
	margin 0 10px
	padding 2px 0 0 1px
	text-align center
	transition all .2s
	p
		display inline
		text-align left
	p:nth-child(2)
		float left
		margin 7px
		line-height 10px

	.b_icono:before
		transition all .3s
		-o-transform scale(1)
		-webkit-font-smoothing antialiased
		border-right rgba(white, .4) solid 1px
		color rgba(white, .4)
		float left
		font-family "Typicons", sans-serif
		font-size 1.8em
		padding 0
	.b_icono
		line-height 30px

	.cargar:before
		content:"G"
	.nuevo:before
		content:"5"
	.editar:before
		content:"9"
	.eliminar:before
		content:"6"
	.buscar:before
		content:"T"
	.submit:before
		content:"g"



button:hover
	border-bottom color_bl2 solid 2px	
	.b_icono:before
		color white

input[type='file']
	background-color white
	background-image none 
	-webkit-appearance none
	border thin gray solid 
	box-shadow none 
	border-radius 3px
	padding 0 0 0 3px

input[type='text'], input[type='search'], input[type='tel'], input[type='date']
	margin 0

input[type='checkbox']
	display inline-block
	margin 0 5px

select
	background-color transparent 
	background-image none 
	-webkit-appearance none
	border thin #EEE solid 
	box-shadow none 

// tablas

thead, th, tbody, td, tr
	margin 0
	padding 0

table
	background white
	text-align center
	box-shadow 0 2px 5px rgba(black, .3)
	max-width 100%
	width 100%
.tabla_small
	width:auto
	max-width 100%
	min-width 20%
	margin 0 auto
	th,td
		padding 6px
thead
	color white
	font-family source_sans_proregular

th,td
	padding 3px

th
	background color_b
	border white solid 1px
	border-width 0 1px

.th_selected
	background color_c
	.up
		// 
	.down
		// 

td
	border lightgray solid 1px

.editable
	color black
	background lightgray
	box-shadow inset 0 0 0 3px white

td[contenteditable='true']:focus
	background #fff8d1
	color color_a


th:first-child, td:first-child
	border-width 0 1px 1px 0
th:last-child, td:last-child
	border-width 0 0 1px 1px

th a,th a:visited
	text-decoration none
	color white

th a:hover
	text-decoration none
	color white

th.sorted a, th.sortable a
	background-position right
	display block

th.sortable a
	background-image url("../img/arrow_off.png")
	background-repeat no-repeat

th.order1 a
	background-image url("../img/arrow_down.png")
	background-repeat no-repeat

th.order2 a
	background-image url("../img/arrow_up.png")
	background-repeat no-repeat

// termina tabla

.pagebanner
	visibility hidden

// otros

.grafico
	border-top color_c 2px solid
	background rgba(white, alpha)
	min-height 300px

.imagen
	width 455px
	min-width 455px
	max-width 100%
	border-top 2px solid color_b
	background rgba(white, alpha)
	overflow hidden
	margin 10px auto 0
	box-shadow 0 1px 2px rgba(black, .3)

.contestar
	width 200px
	float right
	margin-top 10px

// numerador

.paginator
	position absolute
	bottom 15px
	left 0
	width 100%
	border-top rgba(color_b, .3) thin solid
	text-align center
	a, span a
		padding 5px 10px
		background white
		color color_b
		display inline-block
		font-family source_sans_proregular
	a:hover, span a:hover
		background color_b
		color white
	span
		.invisible
			visibility hidden


// tamaños de fuente

.letra14
	font-size 14px

.letra16
	font-size 16px

.letra18
	font-size 18px

.letra20
	font-size 20px

.letra22
	font-size 22px