.elementos.form_tabla
	form
		h2 Nuevo o cargar datos del postulante
		.columna_l
			.row
				label.span2 Tipo registro
				select.span3(data-label='tipo_registro') 
					option(value='carga_masiva') Carga Masiva
					option(value='carga_manual') Carga Manual
		.columna_r
			.row
				input.span4(type='file',placeholder='Ruta de archivo')

				button(type='submit') 
					p.b_icono.cargar 
					p Cargar
			.row
				.progressbar
					.progress-label
		.row
			label.span3 Filtrar usuario
			input.span4(type='search',placeholder='Busqueda')
			button(type='submit')
				p.b_icono.buscar
				p Buscar
		.row.columna_m
			.row
				.progressbar
					.progress-label
			button(class='nuevo')
				p.b_icono.nuevo
				p Nuevo
			button(class='editar')
				p.b_icono.editar
				p Editar
			button(class='eliminar')
				p.b_icono.eliminar
				p Eliminar
		.row
			table
				thead
					tr
						th Nombres y apellidos 
							input(type='checkbox') 
						th DNI
							input(type='checkbox') 
						th Teléfono
							input(type='checkbox') 
						th Celular
							input(type='checkbox') 
						th Fecha nac.
							input(type='checkbox') 
						th Dirección
							input(type='checkbox') 
						th Cargo
							input(type='checkbox') 
						th Editar
							input(type='checkbox') 
				tbody
					tr
						td Nombres y apellidos
						td DNI
						td Teléfono
						td Celular
						td Fecha nac.
						td Dirección
						td Cargo
						td 
							input(type='checkbox')
					tr
						td Nombres y apellidos
						td DNI
						td Teléfono
						td Celular
						td Fecha nac.
						td Dirección
						td Cargo
						td
							input(type='checkbox')

	.row
		.paginator
			a(href='#') prev
			a(href='#') 1
			a(href='#') 2
			a(href='#') 3
			a(href='#') next
