header
	#logo
	nav
		ul#menu
			li.item
				a(href='#')
					p.typicn.home
					span.i_cero Inicio
			li.item
				p.typicn.group
				span.i_uno Postulantes
				ul.submenu1
					li.submenu_item
						p.typicn.plus
						a(href='#') Crear o cargar nuevo
					li.submenu_item
						p.typicn.list
						a(href='#') Listar postulantes
					li.submenu_item
						p.typicn.refresh
						a(href='#') Reprogramar
					li.submenu_item
						p.typicn.export
						a(href='#') Resultados
			li.item
				p.typicn.radar
				span.i_dos Cargos
				ul.submenu1
					li.submenu_item
						p.typicn.plus
						a(href='#') Nuevo cargo
					li.submenu_item
						p.typicn.list
						a(href='#') Listar cargos
			li.item
				p.typicn.edit
				span.i_tres Evaluación
				ul.submenu1
					li.submenu_item
						p.typicn.plus
						a(href='#') Nueva carga o evaluación
					li.submenu_item
						p.typicn.write
						a(href='#') Editar evaluación
			li.item
				p.typicn.list
				span.i_cuatro Reportes
				ul.submenu1
					li.submenu_item
						p.typicn.list
						a(href='#') Reporte
			li#espacioUsuario
				#nombreUsuario
					p Super administrador
				#salir
					p.typicn.times
				#invitaciones
						p 
							span.numero 120
							|Invitaciones pendientes