!!!
html
	head
		meta(charset='utf-8')
		meta(name='viewport',content='width=device-width, initial-scale=1.0')
		//- bootstrap
		link(href='css/bootstrap.css',rel='stylesheet',media='screen')
		link(href='css/layout.css',rel='stylesheet',media='screen')
		title Home postulante
	body
		section#contenedor
			include cabeza
			section#contenido
				img(src='img/home_e.jpg')
				#portada
					.bienvenida
						h3.titulo Bienvenidos
						p.typicn.group
						p.
							Lorem ipsum dolor sit amet, consectetur adipisicing elit. Administrari, democritum crudelis ipsam disputatione restat fastidii nec melius, iudicant ipsas facilis viveremus negarent homines, maximi putat maximisque solvantur solis diuturnum putant, simulent vivendum recordatione multis fatemur tradit synephebos consumeret, fugiendum erit puerilis magnus legendos torquem video evertitur. Legendos deorsus breviter plura.
					
			include pie

