.elementos
	form.newform
		h2 Registro de cargo
		.row.columna_m
			label.span3 Cargo
			input.span4(type='text',placeholder='Cargo', name='cargo')
		.row
			h3 Seleccionar evaluación
		.row
			fieldset
				legend Conocimientos
				.grupo_pruebas
					.prueba
						input(type='checkbox', name='conocimiento1')
						span Prueba 1
					.prueba
						input(type='checkbox', name='conocimiento1')
						span Prueba 2
					.prueba
						input(type='checkbox', name='conocimiento1')
						span Prueba 3
					.prueba
						input(type='checkbox', name='conocimiento1')
						span Prueba 4
					.prueba
						input(type='checkbox', name='conocimiento1')
						span Prueba 5
					.prueba
						input(type='checkbox', name='conocimiento1')
						span Prueba 6
					.prueba
						input(type='checkbox', name='conocimiento1')
						span Prueba 7
					.prueba
						input(type='checkbox', name='conocimiento1')
						span Prueba 8
		.row
			fieldset
				legend Sicotécnica
				.grupo_pruebas
					.prueba
						input(type='checkbox', name='conocimiento2')
						span Prueba 1
					.prueba
						input(type='checkbox', name='conocimiento2')
						span Prueba 2
					.prueba
						input(type='checkbox', name='conocimiento2')
						span Prueba 3
					.prueba
						input(type='checkbox', name='conocimiento2')
						span Prueba 4
					.prueba
						input(type='checkbox', name='conocimiento2')
						span Prueba 5
					.prueba
						input(type='checkbox', name='conocimiento2')
						span Prueba 6
					.prueba
						input(type='checkbox', name='conocimiento2')
						span Prueba 7
					.prueba
						input(type='checkbox', name='conocimiento2')
						span Prueba 8
		.clearfix	
		.row.columna_m
			button(type='submit')
				p.b_icono.submit
				p Guardar
			button(type='reset')
				p.b_icono.eliminar
				p Cancelar
		.clearfix	
		
