.elementos.form_tabla
	form
		h2 Reporte de evaluaciones
		
		.row
			table
				thead
					tr
						th DNI
						th NOMBRES
						th APELLIDOS
						th CARGO
						th N° INTENTOS
						th PUNTAJE CONOCIMIENTOS
				tbody
					tr
						td 1234566
						td nombres
						td apellidos
						td cargo
						td 2
						td 300
					tr
						td 1234566
						td nombres
						td apellidos
						td cargo
						td 2
						td 300
					tr
						td 1234566
						td nombres
						td apellidos
						td cargo
						td 2
						td 300
					tr
						td 1234566
						td nombres
						td apellidos
						td cargo
						td 2
						td 300

		h3 Gráfico
		.row.grafico




		.clearfix
		.row.columna_m
			button(type='submit')
				p.b_icono.submit
				p Imprimir
		.clearfix