!!!
html
	head
		meta(charset='utf-8')
		meta(name='viewport',content='width=device-width, initial-scale=1.0')
		//- bootstrap
		link(href='css/bootstrap.css',rel='stylesheet',media='screen')
		link(href='css/layout.css',rel='stylesheet',media='screen')
		title Home
	body
		section#iconos
			p.typicn.location
			p.typicn.phone
			p.typicn.home
			p.typicn.camera
			p.typicn.left
			p.typicn.right
			p.typicn.up
			p.typicn.down
			p.typicn.refresh
			p.typicn.sync
			p.typicn.loop
			p.typicn.repeat
			p.typicn.shuffle
			p.typicn.rss
			p.typicn.cog
			p.typicn.spanner
			p.typicn.barChart
			p.typicn.pieChart
			p.typicn.lineChart
			p.typicn.views
			p.typicn.zoomIn
			p.typicn.zoomOut
			p.typicn.export
			p.typicn.user
			p.typicn.group
			p.typicn.microphone
			p.typicn.globe
			p.typicn.thumbsUp
			p.typicn.thumbsDown
			p.typicn.tag
			p.typicn.tab
			p.typicn.warning
			p.typicn.tick
			p.typicn.beta
			p.typicn.unlock
			p.typicn.lock
			p.typicn.eject
			p.typicn.move
			p.typicn.expand
			p.typicn.cancel
			p.typicn.power
			p.typicn.compass
			p.typicn.radar
			p.typicn.directions
			p.typicn.pin
			p.typicn.mute
			p.typicn.volume
			p.typicn.world
			p.typicn.write
			p.typicn.minus
			p.typicn.equals
			p.typicn.feed
			p.typicn.batteryNone
			p.typicn.batteryLow
			p.typicn.batteryMid
			p.typicn.batteryHigh
			p.typicn.batteryPower
			p.typicn.plus
			p.typicn.times
			p.typicn.next
			p.typicn.previous
			p.typicn.edit
			p.typicn.cut
			p.typicn.anchor
			p.typicn.bookmark
			p.typicn.music
			p.typicn.puzzle
			p.typicn.archive
			p.typicn.mobile
			p.typicn.contrast
			p.typicn.brightness
			p.typicn.flag
			p.typicn.info
			p.typicn.unknown
			p.typicn.chat
			p.typicn.mail
			p.typicn.message
			p.typicn.delete
			p.typicn.backspace
			p.typicn.infinity
			p.typicn.key
			p.typicn.time
			p.typicn.grid
			p.typicn.list
			p.typicn.heart
			p.typicn.star
			p.typicn.back
			p.typicn.forward


