.elementos.form_tabla
	form
		h2 Nuevo o cargar evaluación
		.row
			label.span2 Filtrar evaluación
			input.span3(type='text',placeholder='Evaluación', name='evaluación')
			button(class='nuevo')
				p.b_icono.nuevo
				p Nuevo

			button(class='editar')
				p.b_icono.editar
				p Editar
			button(class='eliminar')
				p.b_icono.eliminar
				p Cancelar
		.row.columna_m
			table.tabla_small
				thead
					tr
						th Evaluación
						th Editar
						th Permiso
				tbody
					tr
						td Test001
						td 
							input(type='radio')
						td
							input(type='checkbox',class='candado')
					tr
						td Test001
						td 
							input(type='radio')
						td
							input(type='checkbox',class='candado')
					tr
						td Test001
						td 
							input(type='radio')
						td
							input(type='checkbox',class='candado')
					tr
						td Test001
						td 
							input(type='radio')
						td
							input(type='checkbox',class='candado')
					tr
						td Test001
						td 
							input(type='radio')
						td
							input(type='checkbox',class='candado')
					tr
						td Test001
						td 
							input(type='radio')
						td
							input(type='checkbox',class='candado')
					
	.row
		.paginator
			a(href='#') prev
			a(href='#') 1
			a(href='#') 2
			a(href='#') 3
			a(href='#') next

		

		
