!!!
html
	head
		meta(charset='utf-8')
		meta(name='viewport',content='width=device-width, initial-scale=1.0')
		//- bootstrap
		link(href='css/bootstrap.css',rel='stylesheet',media='screen')
		link(href='css/layout.css',rel='stylesheet',media='screen')
		title Home
	body
		#contenedor
			include cabeza
			section#contenido
				//- include bulkload
				//- include newuser
				//- include viewuser
				
				include newcargo
				include viewcargo
				include dateset
				include invitemail
				include resulttest


				//- include bulkexam
				//- include knowledgetest
				//- include previewknowledgetest

				//- include viewexam
				//- include viewreport
				//- include report

				//la intención es que se incluya el contenido dentroe de este tag section
			include pie