!!!
html
	head
		meta(charset='utf-8')
		meta(name='viewport',content='width=device-width, initial-scale=1.0')
		//- bootstrap
		link(href='css/bootstrap.css',rel='stylesheet',media='screen')
		link(href='css/layout.css',rel='stylesheet',media='screen')
		title Home
	body
		#contenedor
			header
				#logo
				nav
					ul#menu
						li.item
							p.typicn.group
							span.i_uno Postulantes
							ul.submenu1
								li.submenu_item
									p.typicn.plus
									a(href='#') Crear o cargar nuevo
								li.submenu_item
									p.typicn.list
									a(href='#') Listar postulantes
								li.submenu_item
									p.typicn.refresh
									a(href='#') Reprogramar
								li.submenu_item
									p.typicn.export
									a(href='#') Resultados
						li.item
							p.typicn.radar
							span.i_dos Cargos
							ul.submenu1
								li.submenu_item
									p.typicn.plus
									a(href='#') Nuevo cargo
								li.submenu_item
									p.typicn.list
									a(href='#') Listar cargos
						li.item
							p.typicn.edit
							span.i_tres Evaluaci贸n
							ul.submenu1
								li.submenu_item
									p.typicn.plus
									a(href='#') Nueva carga o evaluaci贸n
								li.submenu_item
									p.typicn.write
									a(href='#') Editar evaluaci贸n
						li.item
							p.typicn.list
							span.i_cuatro Reportes
							ul.submenu1
								li.submenu_item
									p.typicn.list
									a(href='#') Reporte
						li#espacioUsuario
							#nombreUsuario
								p Super administrador
							#salir
								p.typicn.times
							#invitaciones
									p 
										span.numero 120
										|Invitaciones pendientes
			section#contenido
				//- include bulkload
				//- include newuser
				//la intenci贸n es que se incluya el contenido dentroe de este tag section
			footer
				.icono
					p.typicn.info
				a(href='mailto:info@impaq.pe') info: info@impaq.pe
				p.infoText