!!!
html
	head
		meta(charset='utf-8')
		meta(name='viewport',content='width=device-width, initial-scale=1.0')
		//- bootstrap
		link(href='css/bootstrap.css',rel='stylesheet',media='screen')
		link(href='css/layout.css',rel='stylesheet',media='screen')
		title Home administrador
	body
		section#contenedor
			include cabeza
			section#contenido
				img(src='img/home_e.jpg')
				#grupoInfo
					.infoIndicador
						p.numero 80
						p.typicn.group
						p.
							Postulantes evaluados en el mes de marzo.
					.infoIndicador
						p.numero 60
						p.typicn.cog
						p.
							Pruebas sicotecnicas realizadas en el mes de marzo.
					.infoIndicador
						p.numero 75
						p.typicn.edit
						p.
							Pruebas sicotecnicas realizadas en el mes de marzo.
			include pie

