.elementos
	form.newform(autocomplete='false')
		h2 Datos generales del postulante
		.columna_l
			.row
				label.span2 Nombres
				input.span4(type='text',placeholder='Nombres', name='name',required)
			.row
				label.span2 Apellido paterno
				input.span4(type='text',placeholder='Apellido', name='apellido1',required)
			.row
				label.span2 Apellido materno
				input.span4(type='text',placeholder='Apellido', name='apellido2',required)
			.row
				label.span2 DNI
				input.span4(type='text',placeholder='DNI', name='dni',required, pattern='[0-9]*')
		.columna_r
			.row
				label.span2 País
				select.span3(name='pais',required)
					option(value='peru') Perú
					option(value='ecuador') Ecuador
					option(value='colombia') Colombia
					option(value='brasil') Brasil
					option(value='bolivia') Bolivia
			.row
				label.span2 Ciudad
				select.span3(name='ciudad',required)
					option(value='ANCASH') ANCASH
					option(value='LAMBAYEQUE') LAMBAYEQUE
					option(value='LIMA') LIMA
					option(value='PIURA') PIURA
					option(value='TUMBES') TUMBES
					option(value='SAN') MARTIN SAN MARTIN
					option(value='PUNO') PUNO
					option(value='TACNA') TACNA
			.row
				label.span2 Distrito
				select.span3(name='distrito',required)
					option(value='Ancón') Ancón
					option(value='Ate') Ate
					option(value='Barranco') Barranco
					option(value='Breña') Breña
					option(value='Carabayllo') Carabayllo

			.row
				label.span2 Dirección
				input.span2(type='text',name='direccion',placeholder='Dirección',required)
			.row
				label.span2 Teléfono fijo
				input.span1(type='tel',name='prefijo',placeholder='+', pattern='[0-9]*')
				input.span2(type='tel',name='num_fijo',placeholder='', pattern='[0-9]*',required)
			.row
				label.span2 Celular
				input.span2(type='tel',name='celular',placeholder='', pattern='[0-9]*',required)
		.columna_l
			.row
				label.span2 Sexo
				select.span3(name='sexo',required)
					option(value='masculino') Masculino
					option(value='femenino') Femenino
			.row
				label.span2 Fecha de nacimiento
				input.span2(type='text',name='fecha', placeholder='aa-mm-yy',required)
			.row
				label.span2 Edad
				input.span1(type='text',name='edad',required)

			.row
				label.span2 Estado civil
				select.span3(name='estado_civil',required)
					option(value='soltero') Soltero(a)
					option(value='casado') Casado(a)
					option(value='viudo') Viudo(a)
					option(value='separado') Separado(a)
		.columna_r
			.row
				label.span2 Cargo
				select.span3(name='cargo',required)
					option(value='') 
					option(value='recursos_humanos') Recursos humanos
					option(value='logistica') Logística
					option(value='informatca') Informátca
					option(value='creditos') Recursos humanos
					option(value='manual') Asignación manual
			.row
				label.span2 Nivel usuario
				select.span3(name='nivel',required)
					option(value='postulante') Postulante
					option(value='superadministrador') Super administrador
					option(value='administrador') Administrador
			.row
				label.span2 Correo electrónico
				input.span3(type='email',placeholder='nombre@dominio.com',required)
		.clearfix
		.row.columna_m
			button(type='submit')
				p.b_icono.submit
				p Guardar
			button(type='reset')
				p.b_icono.eliminar
				p Cancelar
		.clearfix