footer
	.icono
		p.typicn.info
	a(href='mailto:info@impaq.pe') info: info@impaq.pe
	p.infoText
script(src='http://code.jquery.com/jquery.js')
script(src='js/bootstrap.min.js')
script(src='js/menu.js')
script(src='js/behav.js')