.elementos.form_tabla
	form
		h2 Prueba de conocimientos
		.row
			label.span3 Buscar postulante
			input.span4(type='search',placeholder='Postulante')
			button(type='submit')
				p.b_icono.buscar
				p Buscar
	.row
		table
			thead
				tr
					th Evaluación
					th Cargo 
					th Puntaje 
					th Resultado
					th
			tbody
				tr
					td test1
					td Analista programador
					td 80 pts
					td Resultado de evaluación
					td
						a(href='#',class='ver_resultados') ver
	
	.row
		.paginator
			a(href='#') prev
			a(href='#') 1
			a(href='#') 2
			a(href='#') 3
			a(href='#') next









