.elementos
	form.newform
		h2 Reportes
		fieldset
			legend Por fecha
			.row.columna_l
				label.span3 de
				input.span2(type='text',name='fecha', placeholder='DD/MM/AAAA')
			.row.columna_r
				label.span1 a
				input.span2(type='text',name='fecha', placeholder='DD/MM/AAAA')
		fieldset
			legend Por cargo
			.row.columna_m
				select.span5(name='cargo')
					option(value='cargo1') cargo1
					option(value='cargo2') cargo2
					option(value='cargo3') cargo3
		fieldset
			legend Por DNI
			.row.columna_m
				select.span5(name='ciudad')
					option(value='123456') 123456
					option(value='123456') 123456
					option(value='123456') 123456
					option(value='123456') 123456

		.clearfix
		.row.columna_m
			button(type='submit')
				p.b_icono.buscar
				p Visualizar
		.clearfix